@Model OderManager.Models.Employee

<div class="row" style="border:solid 1px">
    <div class="col-lg-6">
        @*<h2>Name - @Model.Name </h2>*@
        <p>Id - @Model.Id</p>
        <p>email - @Model.email</p>
    </div>
</div>