@{
    ViewBag.Title = "Home Page";
}


<html>
    <body>
        <div>
            <h1>
                @ViewBag.MyCustomProperty
            </h1>
        </div>
        <div>
            <ul>
                @foreach (var item in ViewBag.MyList)
            {
                <li>
                    @item
                </li>
            }
            </ul>
        </div>
        <div>
            <ul>
                @foreach (var item in ViewBag.myemplist)
                {
                <li>
                    Name - @item.Name      , email - @item.email      , Id - @item.Id
                </li>
                }
            </ul>
        </div>
    </body>
</html>